// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$baseFontFamily: 'Open Sans';

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

$btnPrimaryBackground: orange;
$btnSucessColor: white;
$linkColor: #848280;

@import 'bootstrap';

html, body{
	height: 100%;
}

@import 'bootstrap-responsive';

a.btn.btn-success.btnlarge{
	color:white;
}
.btn{
	background-image:none;
	border:none;
}
#wrap{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

#wrap > .container {
  padding-top: 100px;
}

.header{
	background-color: #e3e3e3;
	padding-top:10px;
}

.lead{
	text-align: center;
}

.logo a{
	color: #fb9765;
	font-size:30px;
	padding:20px;
}

.jumbotron{
	text-align:center;
	border-bottom:1px solid #e3e3e3;
	background-color:#fb9765;
	width:85%;
	margin: 0 auto;
}
.jumbotron p{
	font-size:50px;
	line-height:1em;
	color:#fff;

}

.usericon{
	height: 100px;
	width: 100px;
	background-color:#ccc;
	margin: 0 auto;
	margin-top:35px;
}

.yeno{
	text-align:center;
	padding-top:60px;
	margin: 0 auto;
	
}

.btn-success, .btn-danger{
	background-image:none;
	text-shadow: none;
	border:none;
	height: 100px;
	width:200px;
	margin:20px;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	line-height:90px;
	font-size:35px;
}

#footer{
	background-color:#353434; /*#fb9765;*/
	color: #FFF;
	text-align: center;
	height: 60px;
}

#footer a{
	color:#fb9765;
}

#push{
	height: 60px;
}
.push{
	padding-top:10px;
}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}