body {
    background-color: #fff;
    color: #333;
}

body, p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    /*line-height: 18px;*/
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

a {
    color: #000;
}

a:visited {
    color: #666;
}

a:hover {
    color: #fff;
    background-color: #000;
}

div.field, div.actions {
    margin-bottom: 10px;
}

#notice {
    color: green;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}

#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}

/*table#question-table td {*/
    /*vertical-align: bottom;*/
    /*padding: 12px;*/
/*}*/

div.new-question {
    text-align: center;
    padding-bottom: 48px;
}

.hideMe {
    display: none;
}

#newDiv textarea {
    width: 600px;
    height: 120px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;
}

#newDiv.newQuestion {
    border: 1px solid #ccc;
    padding: 2px;
}

h1 {
    line-height:1.1em;
    font-size:2em;
}

.yes_percentage_number{
    float:left;
}

.no_percentage_number {
    float:right;
}

.total{
    text-align:center;
}

table {
}

#answered li {
    margin-bottom: 3em;
    width:600px;
}
td.no_background {
    width:385px;
    background-color: red;
    margin:0;
    padding:0;
}

td.no_background div {
    background-color:green;
    color:white;
    height:34px;
}

.percentage_number{
    width: 8em;
}

.yes_number{
    color:green;
    font-weight:bold;
    text-align:right
}

.no_number {
    color:red;
    font-weight:bold;
    text-align:left;
}