<h1>All Questions</h1>

<% @questions.each do |question| %>
<td>  
<tr>
    <td><%= question.question_text %></td>
    <td><%= question.question_ans %></td>
    <td><%= link_to 'answer', question#answer %></td>
  </tr>
</td>
<% end %>
